*.pyc
build/
dist/
htmlcov/
MANIFEST
.*.swp
*.egg-info
.idea/
coverage.xml
docs/_build
.coverage
.tox
.venv/
venv/

# Include tracked hidden files and directories in search and diff tools
!.commitlintrc.json
!.dockerignore
!.github/
!.gitignore
!.gitlab-ci.yml
!.mypy.ini
!.pre-commit-config.yaml
!.readthedocs.yml
!.renovaterc.json
