default_language_version:
    python: python3

repos:
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.35.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/pylint
    rev: v2.15.4
    hooks:
      - id: pylint
        additional_dependencies:
          - argcomplete==2.0.0
          - pytest==7.1.3
          - requests==2.28.1
          - requests-toolbelt==0.9.1
        files: 'gitlab/'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.981
    hooks:
      - id: mypy
        args: []
        additional_dependencies:
          - pytest==7.1.3
          - responses==0.21.0
          - types-PyYAML==6.0.12
          - types-requests==2.28.11.2
          - types-setuptools==64.0.1
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/maxbrunet/pre-commit-renovate
    rev: 32.238.4
    hooks:
      - id: renovate-config-validator
