default_language_version:
    python: python3

repos:
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v6.0.0
    hooks:
      - id: commitlint
        additional_dependencies: ['@commitlint/config-conventional']
        stages: [commit-msg]
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/pylint
    rev: v2.12.2
    hooks:
      - id: pylint
        additional_dependencies:
          - argcomplete==2.0.0
          - pytest==6.2.5
          - requests==2.26.0
          - requests-toolbelt==0.9.1
        files: 'gitlab/'
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.930
    hooks:
      - id: mypy
        args: []
        additional_dependencies:
          - types-PyYAML==6.0.1
          - types-requests==2.26.3
          - types-setuptools==57.4.5
