include COPYING AUTHORS ChangeLog.rst RELEASE_NOTES.rst requirements.txt test-requirements.txt rtd-requirements.txt
include tox.ini .travis.yml
recursive-include tests *
recursive-include docs *j2 *.py *.rst api/*.rst Makefile make.bat
recursive-include tests/unit/data *
