[tool.isort]
profile = "black"
multi_line_output = 3
order_by_type = false

[tool.mypy]
disallow_incomplete_defs = true
disallow_untyped_defs = true
files = "."

[[tool.mypy.overrides]] # Overrides for currently untyped modules
module = [
    "docs.*",
    "docs.ext.*",
    "gitlab.v4.objects.*",
    "setup",
    "tests.functional.*",
    "tests.functional.api.*",
    "tests.unit.*",
    "tests.smoke.*"
]
ignore_errors = true

[[tool.mypy.overrides]] # Overrides to negate above patterns
module = [
    "gitlab.v4.objects.projects"
]
ignore_errors = false

[tool.semantic_release]
version_variable = "gitlab/__version__.py:__version__"
commit_subject = "chore: release v{version}"
commit_message = ""
