-r requirements.txt
anyio==4.12.0
build==1.3.0
coverage==7.13.0
pytest-console-scripts==1.4.1
pytest-cov==7.0.0
pytest-github-actions-annotate-failures==0.3.0
pytest==9.0.2
PyYaml==6.0.3
responses==0.25.8
respx==0.22.0
trio==0.32.0
wheel==0.45.1
