{% if cls._list_filters %}
**Object listing filters**
{% for item in cls._list_filters %}
- ``{{ item }}``
{% endfor %}
{% endif %}

{% if cls._create_attrs %}
**Object Creation**
{% if cls._create_attrs[0] %}
Mandatory attributes:
{% for item in cls._create_attrs[0] %}
- ``{{ item }}``
{% endfor %}
{% endif %}
{% if cls._create_attrs[1] %}
Optional attributes:
{% for item in cls._create_attrs[1] %}
- ``{{ item }}``
{% endfor %}
{% endif %}
{% endif %}

{% if cls._update_attrs %}
**Object update**
{% if cls._update_attrs[0] %}
Mandatory attributes for object update:
{% for item in cls._update_attrs[0] %}
- ``{{ item }}``
{% endfor %}
{% endif %}
{% if cls._update_attrs[1] %}
Optional attributes for object update:
{% for item in cls._update_attrs[1] %}
- ``{{ item }}``
{% endfor %}
{% endif %}
{% endif %}
