name: Docs

# If a pull-request is pushed then cancel all previously running jobs related
# to that pull-request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - master

env:
  PY_COLORS: 1

jobs:
  sphinx:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip install tox
      - name: Build docs
        env:
          TOXENV: docs
        run: tox
      - name: Archive generated docs
        uses: actions/upload-artifact@v4.3.6
        with:
          name: html-docs
          path: build/sphinx/html/

  twine-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Set up Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip install tox twine wheel
      - name: Check twine readme rendering
        env:
          TOXENV: twine-check
        run: tox
